@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Target the scrollbar */
::-webkit-scrollbar {
  opacity: 50%;
  width: 2px;
  height: 5px; /* Adjust this value to make it thinner or wider */
}

/* Track (the area the scrollbar slides within) */
::-webkit-scrollbar-track {
  width: 0px;
  background: rgba(
    0,
    0,
    0,
    0.776
  ); /* Optional: Change the background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: rgba(44, 44, 44, 0.585); /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker background color on hover */
}

.skeleton {
  background: linear-gradient(to right, #1a1a1a, #2e2e2e, #4f4f4f);
  background-size: 200% 100%;
  animation: gradientAnimation 1.5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
